<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Curtain Store - Contact</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="Layouts/css/tooplate_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="Layouts/css/ddsmoothmenu.css" />

<script type="text/javascript" src="Layouts/js/jquery.min.js"></script>
<script type="text/javascript" src="Layouts/js/ddsmoothmenu.js">

</script>


<link rel="stylesheet" href="Layouts/css/lightbox.css" type="text/css" media="screen" />
	
<script src="Layouts/js/prototype.js" type="text/javascript"></script>
<script src="Layouts/js/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
<script src="Layouts/js/lightbox.js" type="text/javascript"></script>

</head>
<body>

<div id="tooplate_wrapper">
	<div id="tooplate_header">
    	<div id="site_title">
        	<h1><a href="#">Lập trình Web 2</a></h1>
        </div>
        [Vùng menu]
        <!-- end of menu -->
    </div>
    
    <div id="tooplate_main">
    	<div id="tooplate_sidebar">
        	<div class="sb_box">
            	[Vùng đăng nhập]
			</div>
            
        </div> <!-- end of sidebar -->
        [Vùng thông tin]
         <!-- end of content -->
        
        <div class="cleaner"></div>
    </div> <!-- end of main -->	
    
    <div id="tooplate_footer">
		Copyright © 2019 - Đào tạo từ xa. KHTN - HCMUS
    </div>
</div>

</body>
</html>